# =========================
# PYTHON BACKEND
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.log
*.sqlite3

# =========================
# NODE / FRONTEND
# =========================
frontend/node_modules/
node_modules/
dist/
build/
.vite/

# =========================
# ENV FILES
# =========================
.env
.env.*

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# TEMP / AUDIO FILES
# =========================
*.ogg
*.wav
*.mp3
temp/
tmp/

# =========================
# CACHE
# =========================
.cache/